---
import {
  convertToValidTimeDateString,
  formatRFC2822Date,
} from "../utils/formatRFC2822Date";

const { url, title, date, excerpt } = Astro.props;
---

<li class="blog-post-card">
    <a href={url} class="title-container">
      <p class="published"> Published on <time datetime={convertToValidTimeDateString(date)}>{formatRFC2822Date(date)}</time></p>
      <h2 class="title">{title}</h2>
    </a>
    <p class="excerpt">{excerpt}</p>
    <a href={url}>Read more...</a>
</li>

<style>
  .blog-post-card {
    font-family: var(--base-font-family-cascadia);
    font-weight: 400;
    font-optical-sizing: auto;
    list-style: none;
}

.title-container {
  color: var(--color-text);
  border-bottom: none;
  outline: none;
  .title {
    letter-spacing: .03rem;
    text-wrap: balance;
    font-optical-sizing: auto;
    font-size: 1.3rem;
    margin-block: var(--gutter-xs);
  }

  .published {
    margin-block: var(--gutter-m) 0;
    color: var(--color-text);
    font-weight: 400;
  }

}
    .excerpt {
      text-wrap: pretty;
      margin-block-end: 0;
  }
</style>