---
import {
  convertToValidTimeDateString,
  formatRFC2822Date,
} from "../utils/formatRFC2822Date";

const { url, title, date, excerpt, target } = Astro.props;
---

<li class="blog-post-card">
  <a
    href={url}
    class="title-container"
    target={target}
    rel={target === "_parent" ? "noopener" : undefined}
  >
    <p class="published">
      Published on <time datetime={convertToValidTimeDateString(date)}
        >{formatRFC2822Date(date)}</time
      >
    </p>
    <h2>{title}</h2>
  </a>
  <p class="excerpt">{excerpt}</p>
  <div>
    <a href={url}>Read more...</a>
  </div>
</li>

<style>
  .blog-post-card {
    display: grid;
    grid-template-rows: auto;
    list-style-type: "";

    .title-container {
      border-block-end: none;
      color: var(--s-color-text-primary);
      outline: none;

      .published {
        margin: 0;
      }
    }

    .excerpt {
      margin-block: 0;
      text-wrap: pretty;
    }
  }
</style>
