---
import {
  convertToValidTimeDateString,
  formatRFC2822Date,
} from "../utils/formatRFC2822Date";

const { url, title, date, excerpt } = Astro.props;
---

<li class="blog-post-card">
    <a href={url} target="_parent" rel="noopener">
      <p class="published"><time class="published" datetime={convertToValidTimeDateString(date)}>Published on {formatRFC2822Date(date)}</time></p>
      <h3 class="title">{title}</h3>
    </a>
    <p class="excerpt">{excerpt}</p>
    <a href={url}>Read more...</a>
</li>

<style>
  .blog-post-card {
    font-family: var(--base-font-family-operator);
    font-weight: 400;
    font-optical-sizing: auto;
    list-style: none;
    position: relative;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--color-text);
}
    .title {
      margin-block-start: var(--gutter-l);
      letter-spacing: .03em;
      text-wrap: pretty;
      font-size: 1.3rem;
      margin-block-start: 0;
      margin-block-end: var(--gutter-xs);
    }
    .published {
      margin-block-end: 0;
      margin-block-start: var(--gutter-m);
      opacity: .7;
      font-style: italic;
      font-weight: bold;
    }
    .excerpt {
      opacity: .8;
      text-wrap: pretty;
      margin-block-end: 0;
      font-style: italic;
  }
</style>