---
const { title, image, date, excerpt, tags } = Astro.props;
function formatRFC2822Date(dateStr: string): string {
  // Parse the RFC 2822 date string directly
  const date = new Date(dateStr);

  // Format the date using Intl.DateTimeFormat
  return new Intl.DateTimeFormat("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  }).format(date);
}
---
<div class="hero-section">
  <ul class="tags">
      {tags.map((tag: any) => (
        <li>
          <em><b><a href={`/tags/${tag}`}>#{tag}</a></b></em>
        </li>
      ))}
    </ul>
    <h1 class="title">{title}</h1>
    {image && <img src={image} alt={title} />}
    <p class="published"><em><b>Published on {formatRFC2822Date(date)}</b></em></p>
    <p class="excerpt"><em>{excerpt}</em></p>
</div>

<style>
  .hero-section {
    margin-bottom: 2rem;
    font-family: var(--base-font-family-operator);
    font-weight: 400;
    font-optical-sizing: auto;
    .title {
      margin-block-start: var(--gutter-l);
      letter-spacing: .03em;
      text-wrap: pretty;
    }
    .tags {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 0;
      a {
      transition: color .2s;
      &:hover {
          color: var(--focusable);
          text-decoration: underline;
          text-decoration-color: var(--focusable);
          text-decoration-thickness: 0.2rem;
          text-decoration-style: dotted;
          text-decoration-skip-ink: none;
      }
    }
  }

    .excerpt {
      opacity: 0.8;
    }
  }
</style>