---
const { title, image, date, excerpt, tags } = Astro.props;
---
<div class="hero-section">
  <ul class="tags">
      {tags.map((tag: any) => (
        <li>
          <em><b><a href={`/tags/${tag}`}>#{tag}</a></b></em>
        </li>
      ))}
    </ul>
    <h1 class="title">{title}</h1>
    {image && <img src={image} alt={title} />}
    <p class="published"><em><b>Published on {date.toISOString().slice(0,10)}</b></em></p>
    <p class="excerpt"><em>{excerpt}</em></p>
</div>

<style>
  .hero-section {
    margin-bottom: 2rem;
    font-family: var(--base-font-family-operator);
    .title {
      margin-block-start: var(--gutter-l);
      letter-spacing: .03em;
      text-wrap: pretty;
    }
    .tags {
      list-style: none;
      display: grid;
      grid-auto-flow: column;
      place-content: start;
      place-items: start;
      gap: 0.5rem;
      padding: 0;
      a {
      transition: color .2s;
      &:hover {
          color: var(--link);
          text-decoration: underline;
          text-decoration-color: var(--link);
          text-decoration-thickness: 0.2rem;
          text-decoration-style: dotted;
          text-decoration-skip-ink: none;
      }
    }
  }

    .excerpt {
      opacity: 0.8;
    }
  }
</style>