---
import "@sakupi01/style/sakupi01.com.markdown.css";
import type { InferEntrySchema } from "astro:content";
import HeroSection from "./HeroSection.astro";
import Layout from "./Layout.astro";
import Giscus from "../components/Giscus.astro";
import { Image } from "astro:assets";
import xIcon from "../assets/icons/x.svg";
import blueskyIcon from "../assets/icons/bluesky.svg";
import githubIcon from "../assets/icons/github.svg";

interface Props {
  frontmatter: InferEntrySchema<"blog">;
  slug: string;
}

const { frontmatter, slug } = Astro.props;
const { title, excerpt, date, update, tags } = frontmatter;
---

<Layout pageTitle={title} description={excerpt} url={slug}>
  <div class="article-with-toc">
    <aside class="article-toc">
      <slot name="toc" />
    </aside>
    <article>
      <HeroSection
        title={title}
        date={date}
        update={update}
        excerpt={excerpt}
        tags={tags}
      />
      <slot />
    </article>
  </div>

  <div class="article-meta">
    <ul class="tags grid grid--centered">
      {
        tags.map((tag: string) => (
          <li>
            <a href={`/tags/${encodeURIComponent(tag)}`}>#{tag}</a>
          </li>
        ))
      }
    </ul>

    <ul class="grid grid--centered">
      <li>
        <a
          href={`https://x.com/intent/tweet?text=${encodeURIComponent(title)}%20🌸%20saku's%20blog&url=https://blog.sakupi01.com/${slug}`}
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <Image src={xIcon} alt="x icon" class="icon icon--medium" />
        </a>
      </li>
      <li>
        <a
          href={`https://bsky.app/intent/compose?text=${encodeURIComponent(title)}%20🌸%20saku's%20blog%0Ahttps://blog.sakupi01.com/${slug}`}
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <Image
            src={blueskyIcon}
            alt="bluesky icon"
            class="icon icon--medium"
          />
        </a>
      </li>
      <li>
        <a
          href={`https://github.com/sakupi01/sakupi01.com/tree/main/apps/blog.sakupi01.com/src/content/blog/${slug}.md`}
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <Image src={githubIcon} alt="github icon" class="icon icon--medium" />
        </a>
      </li>
    </ul>
    <hr />
    <Giscus pathname={slug} />
  </div>
</Layout>

<style>
  ul {
    --grid-item-max-width: max-content;
    --grid-item-min-width: 4em;
    --grid-gap: var(--s-space-gap-xs);

    margin-block-start: var(--s-space-gap-md);
    place-items: center;

    li {
      a {
        border-block-end: none;

        @media (hover: hover) {
          &:hover {
            transform: rotate(-10deg);
          }
        }
      }
    }
  }

  .tags {
    /* stylelint-disable-next-line custom/token-scope */
    color: var(--p-color-lavender-500);
  }
</style>
