---
import type { InferEntrySchema } from "astro:content";
import Layout from "./Layout.astro";
import HeroSection from "./HeroSection.astro";

interface Props {
  frontmatter: InferEntrySchema<"blog">;
  slug: string;
}

const { frontmatter, slug } = Astro.props;
const { title, excerpt, date, tags } = frontmatter;
---

<Layout pageTitle={title} description={excerpt} url={slug}>
  <article>
    <HeroSection title={title} date={date} excerpt={excerpt} tags={tags} />
    <slot />
  </article>
  
  <ul>
    <li>
      <a 
        href={`https://twitter.com/intent/tweet?text=${title}%20🌸%20saku's%20blog&url=https://blog.sakupi01.com/${slug}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
      >
        <img src="/x.svg" alt="x icon" />
      </a>
    </li>
    <li>
      <a 
        href={`https://bsky.app/intent/compose?text=${title}%20🌸%20saku's%20blog%0Ahttps://blog.sakupi01.com/${slug}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
      >
        <img src="/bluesky.svg" alt="bluesky icon" />
      </a>
    </li>
    <li>
      <a 
        href={`https://github.com/sakupi01/sakupi01.com/tree/main/apps/blog.sakupi01.com/src/content/blog/${slug}.md`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
      >
        <img src="/github.svg" alt="github icon" />
      </a>
    </li>
  </ul>
</Layout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    li {
      list-style: none;
      
      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        display: inline-block;
        transition: transform 0.3s ease;
        
        &:hover {
          transform: rotate(-15deg);
        }
      }
    }
  }
</style>