---
import "@repo/ui/sakupi01.com.markdown.css";
import "../style/sakupi01.com.astro-code.css";
import type { InferEntrySchema } from "astro:content";
import HeroSection from "./HeroSection.astro";
import Layout from "./Layout.astro";

interface Props {
  frontmatter: InferEntrySchema<"blog">;
  slug: string;
}

const { frontmatter, slug } = Astro.props;
const { title, excerpt, date, update, tags } = frontmatter;
---

<Layout pageTitle={title} description={excerpt} url={slug}>
  <article>
    <HeroSection
      title={title}
      date={date}
      update={update}
      excerpt={excerpt}
      tags={tags}
    />
    <slot />
  </article>

  <ul class="tags">
    {
      tags.map((tag: any) => (
        <li>
          <a href={`/tags/${encodeURIComponent(tag)}`}>#{tag}</a>
        </li>
      ))
    }
  </ul>

  <ul>
    <li>
      <a
        href={`https://x.com/intent/tweet?text=${encodeURIComponent(title)}%20🌸%20saku's%20blog&url=https://blog.sakupi01.com/${slug}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
      >
        <img src="/x.svg" alt="x icon" />
      </a>
    </li>
    <li>
      <a
        href={`https://bsky.app/intent/compose?text=${encodeURIComponent(title)}%20🌸%20saku's%20blog%0Ahttps://blog.sakupi01.com/${slug}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
      >
        <img src="/bluesky.svg" alt="bluesky icon" />
      </a>
    </li>
    <li>
      <a
        href={`https://github.com/sakupi01/sakupi01.com/tree/main/apps/blog.sakupi01.com/src/content/blog/${slug}.md`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
      >
        <img src="/github.svg" alt="github icon" />
      </a>
    </li>
  </ul>
</Layout>

<style>
  a {
    color: #00539f;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-block: 20px;

    li {
      list-style: none;

      a {
        color: var(--color-text);
        border-bottom: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        display: inline-block;
        transition: transform 0.3s ease;

        &:hover {
          transform: rotate(-10deg);
        }
      }
    }
  }
  .tags li a {
    color: var(--color-violet-2);
  }
</style>
